.notes-grid {
  background-color:  rgb(255, 236, 195);
  opacity: 0.8;
  padding: 10px;
  display: grid;
  justify-content: center;
  grid-auto-columns: 50px; 
  /* grid-template-rows: repeat(1, auto); */
  grid-auto-flow: column;
  /* column-gap: 5px; */
  /* row-gap: 0px; */
  gap: 1px;
  overflow: scroll;
}

.notes-grid::-webkit-scrollbar {
  width: 0;
  height: 0;
}

