.notes-grid {
  width: 88%;
  opacity: 0.8;
  padding: 10px;
  display: grid;
  grid-auto-columns: 50px; 
  grid-auto-flow: column;
  overflow: scroll;
  margin-left: 2%;
}

.notes-grid::-webkit-scrollbar {
  width: 8px; 
  height: 8px;  
}

.notes-grid::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1); 
  border-radius: 4px;
}

.notes-grid::-webkit-scrollbar-thumb {
  background: rgb(253, 199, 85, 0.8);
  border-radius: 4px;
}

.notes-grid::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: rgb(253, 199, 85); 
}
