.note-button {
  background-color: white;
  border-radius: 3px;
  color: black;
  text-align: center;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.note-button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 2px;
}

.active, .active:hover{
  background-color: rgb(253, 199, 85);
}

.playing{
  opacity: 0.5;
  box-shadow: 0 0 5px;
}
