.melody-dashboard{
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(165, 32, 32);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border-width: 0;
    margin-right: 10px;
}


button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button:active {
    background-color: white;
    color:  rgb(165, 32, 32);
}

input {
    margin-top: 5px;
}

.speed-input, .volume-input {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.speed-input {
    /* direction: rtl; */
}