.melody-dashboard{
    display: flex;
    justify-content: center;
}

.play-button, .loop-play, .loop-play-active {
    background-color: rgb(112, 157, 255);
    color: black;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border-width: 0;
    margin-right: 10px;
}

.play-button:hover, .loop-play:hover {
    cursor: pointer;
    background-color: rgb(48, 93, 189);
    border-width: 0;
    color: white;
}

.play-button:active {
    background-color: white;
    color:  rgb(112, 157, 255);
}

input {
    margin-top: 5px;
}

.speed-input, .volume-input {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.loop-play-active, .loop-play-active:hover, .loop-play-active:active{
    background-color: rgb(253, 199, 85);
    color: black;
}