body {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.head {
  display: flex;
  justify-content: center;
  background-color: rgb(251, 217, 143);
  margin: 0;
  height: 15vh;
}

h1 {
  width: 70%;
  font-size: 60px;
  margin: 0;
  color: rgb(165, 32, 32);
}

.part {
  margin: 0;
}

.controll-buttons {
  background-color: rgb(255, 236, 195);
  height: 10vh;
}

.notes-grid {
  /* background-color: black; */
  height: 60vh;
}

.melody-dashboard {
  /* background-color: yellow; */
  padding-top: 10px;
    background-color: rgb(255, 236, 195);
  height: 10vh;
}

/* .instruments-control {
  background-color: brown;
  height: 15vh;
} */
