body {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  background-color: rgb(219, 235, 254);
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.head {
  display: flex;
  justify-content: center;
  background-color: rgb(163, 203, 252);
  margin: 0;
  height: 15vh;
}

h1 {
  width: 55%;
  font-size: 60px;
  margin: 0;
}

.part {
  margin: 0;
}

.controll-buttons {
  /* background-color: red; */
  height: 15vh;
}

.notes-grid {
  /* background-color: black; */
  height: 53vh;
}

.melody-dashboard {
  /* background-color: yellow; */
  height: 12vh;
}

/* .instruments-control {
  background-color: brown;
  height: 15vh;
} */
