body {
  background-color: rgb(255, 236, 195, 0.5);
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.head {
  display: flex;
  justify-content: center;
  background-color: rgb(251, 217, 143, 0.5);
  margin: 0;
  height: 15vh;
}

h1 {
  width: 70%;
  font-size: clamp(24px, 6vw, 60px);
  margin: 0;
}

.part {
  margin: 0;
}

.grid-controller{
    height: 75vh;
}

.melody-dashboard {
  padding-top: 10px;
  height: 15vh;
}