.saved-melodys,
.saved-melodys:hover,
.saved-melodys:active {
  opacity: 1;
  margin-top: 20px;
  background-color: rgb(48, 93, 189);
  color: white;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 0px;
  text-align: center;
  border-width: 0;
}

.melodys-menu {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.melody-button, .melody-button:active {
  background-color: rgb(119, 165, 251);
  border-bottom: 1px solid black;
  border-width: 0;
  border-top: 1px solid black;
  border-radius: 0px;
  color: black;
  width: 150px;
  height: 50px;
}

.melody-button:hover{
  background-color: rgb(40, 107, 251);
  color: white;
  cursor: pointer;
}